
	<div>
	<h1>
		<span>TABLA DE</span>
		<span>PRECIOS</span>
	</h1>
	<table>
		<thead>
			<th>Item</th>
			<th>Codigo</th>
			<th>Producto</th>
			<th>precio</th>
			<th>Cantidad</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>RTC234</td>
				<td>llave Alemana</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>2</td>
				<td>RTC234</td>
				<td>llave Bristol</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>3</td>
				<td>RTC234</td>
				<td>llave tor</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>4</td>
				<td>RTC234</td>
				<td>llave inglesa</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>5</td>
				<td>RTC234</td>
				<td>Alicates</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>6</td>
				<td>RTC234</td>
				<td>Martillo</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>7</td>
				<td>RTC234</td>
				<td>hombre solo</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>8</td>
				<td>RTC234</td>
				<td>llave inglesa</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>9</td>
				<td>RTC234</td>
				<td>metro</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>
			<tr>
				<td>10</td>
				<td>RTC234</td>
				<td>Martillo</td>
				<td>$300.000</td>
				<td>10</td>
			</tr>

		</tbody>
	</table>
</div>
