        <div id="container" class="parrafos">
<div>
            <form>
              <div>
              <p>
                <label>Motivo del mensaje</label>
                <select name="motivo">
                  <option>Quejas</option>
                   <option>Sugerencias</option>
                   <option>Soporte tecnico</option>
                   <option>Nuevo servicio</option>
                   <option selected="selected">--selecionar--</option>
                </select>
              </div>
            </p>
    <p>
       <div class="contacto">
        <div class="item">
          <label>Nombre usuario:</label>
          </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="nombreusuario"/>
          </div>
        <div class="item">
          <label>Direccion e-mail:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="direccione-mail"/>
          </div>
        <br>
        <br>
        <div class="item">
                <label>Contraseña:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="contraseña"/>
        </div>
        <div class="item">
          <label>Verifique contraseña:</label>
          </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="verifiquecontraseña"/>
          </div>
          <br><br>
          <div class="item">
          <label>Nombre:</label>
          </div>
          <div class="item">
          <input class="ingresodatos" type="text" name="nombre"/>
          </div>
        <div class="item">
          <label>Apellidos:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="apellidosuno"/>
          </div>
          <div class="item">
          <input class="ingresodatos" type="text" name="apellidosdos"/>
          </div>
          <br><br>
          <div class="item">
                <label>fecha nacimiento</label>
        </div>
         <div class="item">
                <label>Día</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="fechanacimientodia"/>
        </div>
        <div class="item">
                <label>Mes</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="fechanacimientomes"/>
        </div>
        <div class="item">
                <label>Año</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="fechanacimientoaño"/>
        </div>
        <br><br>
        <div class="item">
                <label>Email:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="Email"/>
        </div>
        <div class="item">
          <label>Empresa:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="empresa"/>
          </div>
        <div class="item">
                <label>Direccion:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="direccion"/>
        </div>
        <br><br>
         <div class="item">
                <label>Pais</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="pais"/>
        </div>
        <div class="item">
          <label>departamento</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="departamento"/>
          </div>
        <div class="item">
                <label>municipio</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="municipio"/>
        </div>
  </div>
</p>
  <div>
    <p>
      <div>
          <label>Mensaje</label>
      </div>
      <div>
            <textarea class="ingresodatos" name="comentario"
            cols="100" rows="20">
            </textarea>
    </div>
    </p>
    <p>
    <div>
          <input class="ingresodatos" type="submit" name="enviar mensaje"/>
          <input class="ingresodatos" type="reset" name="limpiar datos"/>
     </div>
            </p>
  </div>
  </form>
  </dvi>
  </div>
   