<fieldset>
  <legend>Formulario de Ingreso<legend>
    <form name="login" method="post" action=Controller.php>
      <p>
        <label>Tipo usuario:</label>
        <select name="user" required>
          <option value="check">Chequear</option>
          <option value="admit">administrativo</option>
          <option value="" selected>
      </p>
      <p>
        <label>Direccion e-mail:</label>
        <input type="e-mail" name="e-mail" required/>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" name="pass_log" required/>
      </p>
      <p>
        <!--Envio de datos ocultos -->
        <input type="hidden" name="genre" value="<?php echo $genere; ?>"/>
        <input type="hidden" name="repassword"/>
        <input type="" name='>
  
   